<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div id="all-buttons">
        <button class="btn"><a href="/home">home</a></button>
        <button class="btn"><a href="/about">about</a></button>
       <button class="btn"> <a href="/works">works</a></button>
       <button class="btn">  <a href="/photogallery">Photo</a> </button>
    </div>
    <div class="div-tittle">
        <h1  class = "letters ">About</h1>
    </div>
    <div>
        <p  class = "letters">
            Radiohead are an English rock band formed in Abingdon, Oxfordshire, in 1985. The band consists of Thom Yorke (vocals, guitar, piano, keyboards); brothers Jonny Greenwood (guitar, keyboards, other instruments) and Colin Greenwood (bass); Ed O'Brien (guitar, backing vocals); and Philip Selway (drums, percussion). They have worked with the producer Nigel Godrich and the cover artist Stanley Donwood since 1994. Radiohead's experimental approach is credited with advancing the sound of alternative rock.
        </p>
    </div>
    
</body>
</html>