<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="all-buttons" >
        <button class="btn"><a href="/home">HOME</a></button>
        <button class="btn"><a href="/about">ABOUT</a></button>
       <button class="btn"> <a href="/works">WORKS</a></button>
       <button class="btn">  <a href="/photogallery">PHOTO</a> </button>
    </div>
    <div class="div-tittle">
        <h1 class = "letters"><a href="https://www.radiohead.com/">RadioHead!</a></h1>
    </div>
</body>
</html>