<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="all-buttons" >
        <button class="btn"><a href="/home">HOME</a></button>
        <button class="btn"><a href="/about">ABOUT</a></button>
       <button class="btn"> <a href="/works">WORKS</a></button>
       <button class="btn">  <a href="/photogallery">PHOTO</a> </button>
    </div>
    <div>
        <h1  class = "letters div-tittle">Works</h1>
    </div>
    <div>
        <div>
            <img src="images/disco1.png" alt="">
            <h3 class = "letters"> Ok Computer</h3>
        </div>
        <div>
            <img src="images/disco2.png" alt="">
            <h3 class = "letters"> The Bends</h3>
        </div>
        <div>
            <img src="images/disco3.png" alt="">
            <h3 class = "letters">Kid A</h3>
        </div>
        <div>
            <img src="images/disco4.png" alt="">
            <h3 class = "letters"> In Raimbows</h3>
        </div>
    </div>
   
</body>
</html>