body {
    background-image: url("images/fondo.png");
    background-size: cover;
    text-align: center;
}

.btn {
    background-color: whitesmoke;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: relative; */
 }

 #all-buttons {
    display: flex;
    justify-content: center;
 }
 .letters {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
 }

.div-tittle {
    background-color: rgb(19, 22, 24);
}
